
/*
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.firstUnit
{
    
    display: flex;
   margin-top: 2.5rem;
    justify-content: center;
}
.title
{
    text-align: center;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
/* .ImageContainer
{
    width:50%;
    
}
.pic
{
    width: 100%;
    height: 100%;
    
} 
.textPart
{
   width: 50%;
   
}
.Name
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight:bolder;

}
.Line
{
    margin-top:8px;
    padding:2px;
    width:30%;
    background-color: gray;
}
.Designation
{
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;

}
.About
{
    margin-top: 8px;
}

@media (max-width:900px) {
    .deskDiv
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textPart
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .deskDiv    
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .firstUnit,.textPart
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .u2
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .ImageContainer
{
    width:50%;
    
}
.pic
{
    width: 85%;
    height: 85%;
    
}
}

@media (min-width:900px) and (max-width:1200px)
{
    .ImageContainer
    {
        width:45%;
        height:25rem;
    }
    .pic
    {
        width: 100%;
        height: 100%;
    }
}
@media (min-width:903px) and (max-width:1200px)
{
    .ImageContainer
    {
        width:45%;
        height:38rem;
        padding-left: 5rem;
        margin-left: 16rem;
    }
    .textPart{
        width: 60%;
        height: 50rem;
       
        
    }
    .About{
        width: 50%;
    }
    .pic
    {
        width: 100%;
        height: 100%;
    }
}

@media (min-width:1200px) 
{
    .ImageContainer
    {
        width:35%;
        height:50rem;
        margin-left: 10%;
    }
    .textPart{
        width: 55%;
        height: 40rem;
               
    }
    .About{
        width: 50%;
    }
    .pic
    {
        width: 80%;
        height: 80%;
    }
    .u2 .ImageContainer
    {
        width: 35%;
        height: 50rem;
        margin-left: 0%;
        padding-left: 0%;
    }
    .u2 .textPart
    {
        padding-left: 0%;
        width:35%;
        height:50rem;

    }
    
}

*/
.desktitle{
 margin-top:4%;
}
@media (min-width:1377px){
    .desktitle{
        font-size: 33px;
    }
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:55%;
        top:95%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:85%;
        top:240%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:40%;
        top:365%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(73, 29, 122) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:9%;
        top:500%;
        z-index: -60;
        background-image: linear-gradient(to left, rgb(33, 3, 66) , rgb(129, 21, 133));
    }
}
@media (max-width:1377px) and (min-width:1040px) {
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:55%;
        top:95%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:80%;
        top:221%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:45%;
        top:376%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(73, 29, 122) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:9%;
        top:589%;
        z-index: -60;
        background-image: linear-gradient(to left, rgb(33, 3, 66) , rgb(129, 21, 133));
    }
}
@media (max-width:1040px) and (min-width:758px) {
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:60%;
        top:95%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:75%;
        top:220%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:3%;
        top:376%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(73, 29, 122) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:6%;
        top:567%;
        z-index: -60;
        background-image: linear-gradient(to left, rgb(52, 6, 102) , rgb(97, 13, 100));
    }
}

@media (max-width:758px) and (min-width:509px){
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:60%;
        top:95%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:68%;
        top:189%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:3%;
        top:376%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(73, 29, 122) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:4%;
        top:576%;
        z-index: -60;
        background-image: linear-gradient(to left, rgb(33, 3, 66) , rgb(129, 21, 133));
    }
}
@media (max-width:509px) and (min-width:436px){
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:50%;
        top:90%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:68%;
        top:189%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:3%;
        top:376%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(73, 29, 122) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:4%;
        top:576%;
        z-index: -60;
        background-image: linear-gradient(to left, rgb(33, 3, 66) , rgb(129, 21, 133));
    }
}
@media (max-width:436px) and (min-width:320px){
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:50%;
        top:90%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:10%;
        top:270%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:3%;
        top:376%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(112, 63, 168) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:4%;
        top:630%;
        z-index: -60;
        background-image: linear-gradient(to right, rgb(33, 3, 66) , rgb(166, 50, 170));
    }
}

@media (max-width:320px){
    
    .bubble-1{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:-9%;
        top:135%;
        z-index: -80;
        background-image: linear-gradient(to left, rgb(67, 1, 143) , rgb(152, 18, 156));
    }
    .bubble-2{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:50%;
        top:90%;
        z-index: -8;
        background-image: linear-gradient(to bottom, rgb(86, 9, 175) , rgb(170, 8, 175));
    }
    .bubble-3{
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:10%;
        top:276%;
        z-index: -90;
        background-image: linear-gradient(to right, rgb(67, 1, 143) , rgb(140, 11, 145));
    }
    .bubble-4{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:1%;
        top:410%;
        z-index: -70;
        background-image: linear-gradient(to bottom, rgb(112, 63, 168) ,rgb(69, 8, 71));
    }
    .bubble-5{
        height: 270px;
        width: 270px;
        border-radius: 50%;
        margin: 1rem;
        position: absolute;
        left:4%;
        top:657%;
        z-index: -60;
        background-image: linear-gradient(to right, rgb(33, 3, 66) , rgb(166, 50, 170));
    }
}

.DeskSec {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    position: relative;
    color: aliceblue;
   
  }
  .pics {
    
    height: auto;
  }
  
  @media (max-width: 1327px) {
    .DeskSec {
      display: flex;
      flex-direction: column;
      font-size: 80%;
    }
    .p1,.p2,.p3,.p4{
        width:400px; 
        height:300px;
      }
    .textp {
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;
      background: rgba(white, 0.8);
    }
    .p1
    {       
        margin-bottom: 75%;
    }
    .p2
    {
        margin-bottom: 85%;
    }
    .t2
    {
        position: absolute;
        top:45%;
        z-index: 999;
        
    }
    .t1
    {
        position: absolute;
        top:12%;
        z-index: 999;
    }
    
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
    }
  }
  @media(min-width: 1327px)
  {
      .p1,.p3
      {
        width:500px;
        height:500px;
         
      }
      .p1,.p2,.p3,.p4{
        width:400; 
        height:300;
      }
      .t1,.t3
      {
        margin-left: 15rem;
        background-color: rgb(158, 90, 183);
      }
      .p1,.p2,.t1
      {
          margin-bottom:4rem ;
      }
      .t2,.t4{
        margin-bottom:4rem ;
        width: 750px;
        background-color: rgb(158, 90, 183);
        z-index: 99;
       /* padding: 10%;*/

      }
      .p2,.p4{
         margin-left:40rem;
          width: 500px;
          height: 500px;
         
      }
  }
  .textp
  {
      padding: 5%
  }

  @media (min-width:601px) and (max-width:1327px){
    .p1
    {       
        margin-bottom: 20%;
    }
    .p1,.p2,.p3,.p4{
        width:400; 
        height:300;
      }
    .p2
    {
        margin-bottom: 24%;
        margin-top:4%;
    }
    .p3{
        margin-bottom: 24%;
    }
    .p4{
        margin-bottom: 24%;
    }
    .t2
    {
        position: absolute;
        top:35%;
        z-index: 999;

        
    }
    .t3{
        position: absolute;
        top:60%;
        z-index: 999;
    }
    .t1
    {
        position: absolute;
        top:10%;
        z-index: 999;
    }
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
        font-size: 12px;
    }
    #timeline h1{
        margin-top: -1%;
    }
    .t4
    {
        position: absolute;
        top:86%;
        z-index: 999;

    }
  }
  @media (min-width:457px) and (max-width:601px){
    #timeline h1{
        margin-top: 40%;
    }
    .p1,.p2,.p3,.p4{
        width:400; 
        height:300;
      }
    .p1
    {       
        margin-bottom: 25%;
    }
    .p2
    {
        margin-bottom: 25%;
        margin-top:4%;
    }
    .p3{
        margin-top: 8%;
    }
    .p4{
        margin-top:29%;
    }
    .t2
    {
        position: absolute;
        top:42%;
        z-index: 999;
        
    }
    .t4{
        position: absolute;
        top:97%;
        z-index: 999;
    }
    .t3{
        position: absolute;
        top:69%;
        z-index: 999;

    }
   
    .t1
    {
        position: absolute;
        top:14%;
        z-index: 999;
    }
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
        font-size: 9px;
    }
  }
  @media(min-width:339px) and (max-width:457px){
    #timeline h1{
        margin-top: 45%;
    }
    .p1,.p2,.p3,.p4{
        width:300px; 
        height:300px;
      }
    .p1
    {       
        margin-bottom: 38%;

    }
    .p2
    {
        margin-bottom: 38%;
        margin-top:4%;
    }
    .p3{
        margin-top: 7%;
        margin-bottom: 38%;
    }
    .p4{
        margin-top: 8%;
    }
    .t2
    {
        position: absolute;
        top:42%;
        z-index: 999;
        
    }
    .t4{
        position: absolute;
        top:98%;
        z-index: 999;
    }
    .t1
    {
        position: absolute;
        top:14%;
        z-index: 999;
    }
    .t3{
        position: absolute;
        top:70%;

        z-index: 999;
    }
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
        font-size: 9px;
    }
  }
  @media (min-width:280px) and (max-width:339px){
    #timeline h1{
        margin-top:70%;
    }
    .p1,.p2,.p3,.p4{
        width:230px; 
        height:230px;
      }
    
    .p1
    {       
        margin-bottom: 74%;
    }
    .p2
    {
        margin-bottom: 74%;
        margin-top:8%;
    }
    .p3{
        margin-top: 7%;
        margin-bottom: 74%;
    }
    .p4{
        margin-top: 8%;
       
    }
    .t2
    {
        position: absolute;
        top:40%;
        z-index: 999;
        
    }
    .t4{
        position: absolute;
        top:98%;
        z-index: 999;
    }
    .t1
    {
        position: absolute;
        top:11%;
        z-index: 999;
    }
    .t3{
        position: absolute;
        top:69%;

        z-index: 999;
    }
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
        font-size: 9px;
    }
  }
@media(max-width:280px)
{
    #timeline h1{
        margin-top:90%;
    }
    .p1,.p2,.p3,.p4{
        width:250px; 
        height:250px;
      }
    .p1
    {       
        margin-bottom: 79%;
    }
    .p2
    {
        margin-bottom: 74%;
        
    }
    .p3{
        margin-top: 7%;
        margin-bottom: 74%;
    }
    .p4{
        margin-top: 8%;
       
    }
    .t2
    {
        position: absolute;
        top:41%;
        z-index: 999;
        
    }
    .t4{
        position: absolute;
        top:98%;
        z-index: 999;
    }
    .t1
    {
        position: absolute;
        top:14%;
        z-index: 999;
    }
    .t3{
        position: absolute;
        top:70%;

        z-index: 999;
    }
    .textp
    {
        width:73%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgb(158, 90, 183);
        font-size: 9px;
    }
}
