.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1900000;
  display: flex;
  flex-direction: column;
}

/* Style the icon bar links */
.icon-bar a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
    margin-bottom: 1.5rem;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}
/*
.facebook {
  background: #3B5998;
  color: rgb(255, 255, 255);
}
.instagram {
    background: #8d007a;
    color: white;
  }

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}